@import url("https://fonts.googleapis.com/css?family=Aclonica|Fauna One");

/* SFONDO */
html { 
	background: url(Gallina_Sfuggente.jpg) no-repeat center fixed; 
	background-size: cover;
	background-color: rgba(255,255,255,0.6);
	background-blend-mode: lighten;
}

/* FONT STILE */
body {
  font-family: 'Fauna One', serif;
}
h1, h3 {
	font-family: "Aclonica", serif;
}
h1 {
	font-size: 2.5em;
	text-shadow: 3px 3px 3px #636262;
}

/* CSS PER CENTRARE IMG */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
}

/* CSS PER INDEX */
.index {
	background-color: rgb(184,184,184);
	margin: auto;
	border: 2px solid black;
	padding: 10px 15px 5px 15px;
}

/* CSS PER INDEX BUTTON */
.button {
	border: none;
	background-color: #b8b8b8;
	padding: 0px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	transition-duration: 0.1s;
	cursor: pointer;
}
.button:hover {
	color: purple;
	text-decoration: underline;
	text-decoration-color: purple;
}

/* CSS PER BIO, RACE, CLASS */
.myDiv {
	background-color: rgb(184,184,184);
	margin: auto;
	border: 0.5px solid black;
	padding: 0px 15px 5px 15px;
}